* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff2f2;
	font-family: 'Helvetica', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 850px;
}

.task {
	text-align: center;
	margin-top: 20px;
}

.description {
	margin: 10px 0px 10px;
	font-weight: 600;
}

.text-area {
	width: 100%;
	min-height: 250px;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}

.keyboard {
	position: relative;
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	padding: 10px;
}

.keyboard-line {
	display: flex;
	justify-content: flex-start;
}

.key {
	height: 50px;
	width: 50px;
	font-size: 16px;
	color: white;
	background-color: black;
	padding: 10px 15px;
	margin: 4px;
	border-radius: 4px;
}

.key:hover {
	cursor: pointer;
	background-color:  rgb(41, 41, 41);
}

.key-press {
	background-color:  rgb(41, 41, 41);
	border: solid 1px #fff2f2;
	/* height: 40px;
	width: 40px; */
}

/* special keys*/

.backspace {
	width: 80px;
	text-align: center;
	padding-top: 15px;
}

.tab {
	width: 80px;
	font-size: 12px;
	padding-top: 30px;
	padding-right: 40px;
}

.caps-lock {
	width: 90px;
	font-size: 12px;
	padding-top: 30px;
	padding-right: 18px;
}

.enter {
	width: 100px;
	font-size: 12px;
	padding-top: 30px;
	padding-left: 45px;
}

.shift-left {
	width: 120px;
	font-size: 12px;
	padding-top: 30px;
	padding-right: 70px;
}

.shift-right {
	width: 120px;
	font-size: 12px;
	padding-top: 30px;
	padding-left: 70px;
}



.cmd-left,
.cmd-right {
	width: 60px;
	font-size: 12px;
	padding-top: 30px;

}

.space {
	width: 350px;
}

.arrow-up {
	position: absolute;
	height: 23px;
	top: 243px;
	right: 67px;
	text-align: center;
  padding-top: inherit;
	transform: rotate(180deg);
}

.arrow-down {
	height: 23px;
	position: relative;
	top: 27px;
	text-align: center;
  padding-top: inherit;
}

.option,
.control {
	font-size: 12px;
	padding-top: 30px;
}

.option-left {
	padding-left: 10px;
}

.option-right {
	padding-left: 10px;
}

.arrow-left,
.arrow-right {
	padding-top: 15px;
  padding-left: 20px;
}


.arrow-right {
	transform: rotate(180deg);
}













/* .ctrl-left {
	font-size: 12px;
	padding-top: 20px;
	padding-left: 10px;
}

.option-left,
.option-right {
	font-size: 12px;
	padding-top: 20px;
	padding-left: 10px;
} */



/* .cmd-left,
.cmd-right {
	width: 55px;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 10px;
} */

/* .cmdRight {
	padding-left: 22px;
} */